{% extends 'main.html' %}
{% load widget_tweaks %}
{% block post %}
    <style type="text/css">
        .cpost{
            width: 100%;
            margin: 0 auto;
        }
    </style>
    <form action="/forum/createpost/" method="post">
        {% csrf_token %}
        <div>
            Название поста.
            {{ form.post_name }}<br>
            Текст поста.
            {{ form.post_text|add_class:'cpost' }}
        </div>
        <input type="submit" class="button" value="Добавить пост">
    </form>
{% endblock %}