{% extends 'main.html' %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
{% block post %}
    <style type = "text/css">
        .post_style{
            margin-right: 0;
            margin-left: 0;
            width: 100%;
            outline: 2px solid #000;
        }
    </style>
    {% if request.user.is_authenticated %}
        {% buttons %}
            <button class="btn btn-default">
                <a href="/forum/createpost/">Создать пост</a>
            </button>
        {% endbuttons %}
    {% else %}
        <p>Вы не вошли</p>
    {% endif %}
    {%  if latest_post_list %}
        <p>
        {% for post in latest_post_list %}
            <div class="post_style">
                <a href="{% url 'forum:detail' post.id %}">{{ post.post_name }}</a> {{ post.post_user }}
            </div>
        {% endfor %}
        </p>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}