{% extends 'main.html' %}
{% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
{% block post %}
    <h1>{{ PUser.username }}</h1><br>
    <img src="{{ avatar.document.url }}" alt="Avatar"><br>
    {% if request.user.is_authenticated %}
        {% buttons %}
        {% if see %}
            <button class="btn btn-default">
                <a href="{% url 'forum:message' msid%}">Диалог</a>
            </button>
        {% else %}
            <button class="btn btn-default">
                <a href="{% url 'forum:startmes' PUser.id%}">Написать</a>
            </button>
        {% endif %}
        {% endbuttons %}
    {% else %}
        <li>Вы не вошли</li>
    {% endif %}
{% endblock %}